# artefacts Nix
result
*.drv
.nix-defexpr/
.nix-gcroots/

# secrets potentiels (à ajuster si tu ajoutes sops plus tard)
secrets/*
!secrets/README.md
openbao-init.txt

# manifests rendus localement
dist/

# fichiers temporaires
*.swp
*.swo
*.tmp
*.log
.DS_Store
